<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container">
      <header>
        <p>
          <a href="/">cjkinni</a> &mdash; <a class="dark-switch" href="#">light</a>
        </p>
      </header>
      <content>
        <h1>Words</h1>
        <div class="short">
          <%= for post <- posts do %>
            <p>- <%= post["date"] %> - <a href="/words/<%= post[:basename] %>"><%= post["title"] %></a></p>
          <% end %>
        </div>
      </content>
      <hr>
      <footer>
        <p>Be nice.</p>
      </footer>
    </div>
  </body>
  <script src="/dark-switch.js" defer></script>
</html>